section.section.about-content
    .container
        .vision-mission-box
            .swiper-vision-mission 
                .swiper-container
                    .swiper-wrapper 
                        .swiper-slide 
                            .item-vision
                                h2.item-title Tầm nhìn HDBankent 
                                .info-box
                                    p Trở thành một tập đoàn tài chính hàng đầu với cốt lõi là NGÂN HÀNG THƯƠNG MẠI thuộc TOP DẪN ĐẦU TẠI VIỆT NAM, có sản phẩm và dịch vụ khách hàng vượt trội, mạng lưới quốc tế, hoạt động hiệu quả và có thương hiệu được các khách hàng tự hào tin dùng.
                        .swiper-slide 
                            .item-vision
                                h2.item-title Sứ mệnh HDBank
                                .info-box 
                                    p Đối với khách hàng: HDBank cam kết mang lại giá trị cao nhất cho khách hàng bằng các giải pháp tài chính trọn gói và sáng tạo, đáp ứng được nhu cầu đa dạng và luôn thay đổi dựa trên sự thấu hiểu của khách hàng.
                                    p Đối với nhân viên: HDBank tạo ra một môi trường làm việc chuyên nghiệp, thú vị và có mức đãi ngộ xứng đáng giúp nhân viên có thể học hỏi, sáng tạo và cống hiến để cùng thành đạt về sự nghiệp.
                                    p Đối với đối tác: HDBank cam kết tối đa hóa lợi ích cho cổ đông và các đối tác nhờ tăng trưởng mạnh và bền vững đi cùng với hệ thống quản trị doanh nghiệp hiệu quả và quản lý rủi ro chặt chẽ.
                        .swiper-slide 
                            .item-vision
                                h2.item-title Giá trị cốt lõi
                                .info-box 
                                    p Khách hàng là trọng tâm: HDBank luôn coi khách hàng là trọng tâm trong mọi hoạt động của ngân hàng và luôn phấn đấu đáp ứng tốt nhất những mong đợi của khách hàng;
                                    p Nhất quán và linh hoạt: HDBank hiểu rõ mục tiêu của mình và nhất quán trong việc theo đuổi các mục tiêu đó. Trong hành động, chúng ta luôn năng động và linh hoạt để đạt được mục tiêu đã đề ra;
                                    p Hiệu quả và sáng tạo: HDBank không ngừng học hỏi, sáng tạo và tự hoàn thiện để hoạt động hiệu quả và vượt trội trong việc phục vụ khách hàng;
                                    p Chuyên nghiệp và hợp tác: HDBank làm việc và ứng xử một cách chuyên nghiệp. HDBank chia sẻ và hợp tác thân thiện với đồng nghiệp và đối tác dựa trên sự tin tưởng và tôn trọng lẫn nhau;
                                    p Trung thực và trách nhiệm: HDBank là người đáng tin cậy, trung thực, dám nghĩ, dám làm và dám chịu trách nhiệm

                .swiper-button-next.swiper-button
                    img(src="./images/about/arrowkey-1.png", alt="")
                .swiper-button-prev.swiper-button
                    img(src="./images/about/arrowkey.png", alt="")
