header
	width: 100%
	position: relative
	padding-top: 15/16*1rem
	padding-bottom: 25/16*1rem
	nav
		.nav-full
			.btn-toggle
				margin-right: 27px
			.logo
			.language
				margin-left: auto
				.lang-active
					.button-click
						margin-left: 13px
						cursor: pointer
				.drop-down
					display: none
			.btn-login
				margin-left: 50px
		.nav-toggle
			display: none
