header
	nav
		.container
			.nav-full.d-flex.align-center
				.btn.btn-toggle 
					span 
					span 
					span 
					span
					span
				a.logo(href="")
					img(src="./images/Logo.png", alt="")
				.language 
					.lang-active.d-flex.align-center
						a(href="") 
							img(src="./images/icons/vn.png", alt="")
						.button-click 
							img(src="./images/icons/down.png", alt="")
					ul.drop-down
						li 
							a(href="") 
								img(src="./images/icons/vn.png", alt="")
								span vn
						li 
							a(href="") 
								img(src="./images/icons/en.png", alt="")
								span EN 
						li 
							a(href="") 
								img(src="./images/icons/jp.png", alt="")
								span 日本 
				button.btn.btn-login(type="submit")
					span Đăng nhập 
			.nav-toggle 
				a(href="") 
					img(src="./images/Logo.png", alt="")
				.search-box
					form(action="", method="post") 
						.form-group
							input.searchinput(type="text", name="inputSearch")
							img(src="./images/icons/search.png", alt="")
				.accordianList
					.acc-item
						.acc-title 
							p Internet banking
						button(type="submit").btn.btn-login-bar
							|Đăng nhập
						a.text-sign(href="") Đăng ký tài khoản
					.acc-item 
						.acc-title 
							p Khách hàng cá nhân 
							.btn-icon 
								img.plus(src="./images/icons/plus.png", alt="")
								img.sub(src="./images/icons/minus.png", alt="")
						ul.acc-list
							li
								a(href="") 
									.icon 
										img(src="./images/icons/money.svg", alt="")
									|Tiền gửi
							li
								a(href="") 
									.icon 
										img(src="./images/icons/card-1.svg", alt="")
									|Thẻ thanh toán
							li
								a(href="") 
									.icon 
										img(src="./images/icons/card-2.svg", alt="")
									|Thẻ tín dụng
							li
								a(href="") 
									.icon 
										img(src="./images/icons/money.svg", alt="")
									|Sản phẩm vay
							li
								a(href="") 
									.icon 
										img(src="./images/icons/save.svg", alt="")
									|Tiết kiệm
							li
								a(href="") 
									.icon 
										img(src="./images/icons/bh.svg", alt="")
									|Bảo hiểm
					.acc-item 
						.acc-title 
							p Khách hàng doanh nghiệp
							.btn-icon 
								img.plus(src="./images/icons/plus.png", alt="")
								img.sub(src="./images/icons/minus.png", alt="")
					.acc-item 
						.acc-title 
							p Khách hàng ưu tiên
							.btn-icon 
								img.plus(src="./images/icons/plus.png", alt="")
								img.sub(src="./images/icons/minus.png", alt="")
					.acc-item 
						.acc-title 
							p Nhà đầu tư
							.btn-icon 
								img.plus(src="./images/icons/plus.png", alt="")
								img.sub(src="./images/icons/minus.png", alt="")

