.title
	padding: r(32px) 0
	text-align: center
	&_big
		font-size: r(40px)
		color: #000
		font-weight: 700
		line-height: 58px
	&_small
		font-size: r(32px)
		font-weight: 800
		line-height: 120%
		&-white
			color: $white
		&-black
			color: #000
