section.section.news-content
    .container-fluid 
        .news-search-box
            .row
                .page-title Bản tin HDBank
                form.group-iput(action="").search-box.text-center
                    .form-group
                        input.form-control(type="text" placeholder="Tìm kiếm")
                        button(type="submit")
                            em.ri-search-2-line
        .news-main-content-box
            .row.list-categories-box.tabs 
                ul.list-categories.tab-list-categories
                    li.item-category.active(rel="panel-1")
                        a(href="") Sản phẩm
                    li.item-category(rel="panel-2")
                        a(href="") Ưu đãi
                    li.item-category(rel="panel-1")
                        a(href="") Doanh nghiệp
                    li.item-category(rel="panel-2")
                        a(href="") Đối tác
                    li.item-category(rel="panel-1")
                        a(href="") Thẻ
                    li.item-category(rel="panel-2")
                        a(href="") Lazada
                    li.item-category(rel="panel-1")
                        a(href="") Shopee
                    li.item-category(rel="panel-2")
                        a(href="") Covid-19
            .row
                .panel.active#panel-1
                    .main-content
                        ul.list-news 
                            //- li.item-news
                            //-     .news-left-box
                            //-         a(href="")
                            //-             img(src="./images/news/news1.png")
                            //-     .news-right-box 
                            //-         a(href="")
                            //-             p.news-title HDBank khẳng định vị thế top 5 ngân hàng uy tín nhất Việt Nam thiệu khách hàng tham gia chương trình ưu đãi
                            //-         p.news-description Ngân hàng TMCP Phát triển TP. Hồ Chí Minh (HDBank - mã chứng khoán: HDB)
                            //-         p.news-date 29/11/2021
                            li.item-news
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/news2.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title Ưu đãi ngập tràn ngày 8/3 cùng thẻ HDBank VISA
                                    p.news-description Khách hàng cá nhân đăng ký thành công "Cộng tác viên" và thực hiện giới thiệu khách hàng tham gia chương trình ưu đãi
                                    p.news-date 29/11/2021
                            li.item-news
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/banner-desktop.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
                                    p.news-description Theo bà Nguyễn Thị Phương Thảo - Phó Chủ tịch thường trực HĐQT HDBank, 2021...
                                    p.news-date 29/11/2021
                            li.item-news
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/news4.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
                                    p.news-description HDBank (HoSE: HDB) triển khai việc nâng cấp áp dụng tiêu chuẩn Basel II lên Basel III....
                                    p.news-date 29/11/2021
                            li.item-news
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/news5.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
                                    p.news-description Theo bà Nguyễn Thị Phương Thảo - Phó Chủ tịch thường trực HĐQT HDBank, 2021...
                                    p.news-date 29/11/2021
                            li.item-news.item-news-loadmore
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/banner-desktop.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
                                    p.news-description Theo bà Nguyễn Thị Phương Thảo - Phó Chủ tịch thường trực HĐQT HDBank, 2021...
                                    p.news-date 29/11/2021
                            li.item-news.item-news-loadmore
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/news4.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
                                    p.news-description HDBank (HoSE: HDB) triển khai việc nâng cấp áp dụng tiêu chuẩn Basel II lên Basel III....
                                    p.news-date 29/11/2021
                            li.item-news.item-news-loadmore
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/news5.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
                                    p.news-description Theo bà Nguyễn Thị Phương Thảo - Phó Chủ tịch thường trực HĐQT HDBank, 2021...
                                    p.news-date 29/11/2021
                        a.btn-loadmore.btn-show-hide(href="javascript:void(0)") Tải thêm
                        a.btn-hide.btn-show-hide(href="javascript:void(0)") Ẩn đi
                .panel#panel-2
                    .main-content
                        ul.list-news 
                            li.item-news
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/news1.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank khẳng định vị thế top 5 ngân hàng uy tín nhất Việt Nam thiệu khách hàng tham gia chương trình ưu đãi
                                    p.news-description Ngân hàng TMCP Phát triển TP. Hồ Chí Minh (HDBank - mã chứng khoán: HDB)
                                    p.news-date 29/11/2021
                            li.item-news
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/news2.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title Ưu đãi ngập tràn ngày 8/3 cùng thẻ HDBank VISA
                                    p.news-description Khách hàng cá nhân đăng ký thành công "Cộng tác viên" và thực hiện giới thiệu khách hàng tham gia chương trình ưu đãi
                                    p.news-date 29/11/2021
                            li.item-news
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/banner-desktop.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
                                    p.news-description Theo bà Nguyễn Thị Phương Thảo - Phó Chủ tịch thường trực HĐQT HDBank, 2021...
                                    p.news-date 29/11/2021
                            li.item-news
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/news4.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
                                    p.news-description HDBank (HoSE: HDB) triển khai việc nâng cấp áp dụng tiêu chuẩn Basel II lên Basel III....
                                    p.news-date 29/11/2021
                            li.item-news
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/news5.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
                                    p.news-description Theo bà Nguyễn Thị Phương Thảo - Phó Chủ tịch thường trực HĐQT HDBank, 2021...
                                    p.news-date 29/11/2021
                            li.item-news.item-news-loadmore
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/banner-desktop.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
                                    p.news-description Theo bà Nguyễn Thị Phương Thảo - Phó Chủ tịch thường trực HĐQT HDBank, 2021...
                                    p.news-date 29/11/2021
                            li.item-news.item-news-loadmore
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/news4.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
                                    p.news-description HDBank (HoSE: HDB) triển khai việc nâng cấp áp dụng tiêu chuẩn Basel II lên Basel III....
                                    p.news-date 29/11/2021
                            li.item-news.item-news-loadmore
                                .news-left-box
                                    a(href="")
                                        img(src="./images/news/news5.png")
                                .news-right-box 
                                    a(href="")
                                        p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
                                    p.news-description Theo bà Nguyễn Thị Phương Thảo - Phó Chủ tịch thường trực HĐQT HDBank, 2021...
                                    p.news-date 29/11/2021
                        a.btn-loadmore.btn-show-hide(href="javascript:void(0)") Tải thêm
                        a.btn-hide.btn-show-hide(href="javascript:void(0)") Ẩn đi