section.section.slide-mess 
	.wrapper-container 
		//- Swiper
		.mySwiper
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<5; i++)
						.swiper-slide 
							.slide-inner 
								.icon-mess 
									img(src="./images/icons/chat.png", alt="")
								.mess-content 
									p.desc “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
									p.sign Jon Doe
				//- .swiper-button-next
				//- .swiper-button-prev
