.product-catelory_list
	h2.title.title_small.title_small-white Danh mục sản phẩm
	.navigation
		ul.navigation-list
			li.navigation-list_item.active
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/personal/pro-1.png", alt="")
						img.mobile(src="./images/personal/pro-1.png", alt="")
					.contnet
						a(href='') Sản phẩm tiền gửi
						em.lnr.lnr-chevron-down
				ul.navigation-sub.show  
					li
						a(href="") 
							p Vay phát triển kinh tế gia đình
							em.lnr.lnr-chevron-right
					li
						a(href="") 
							p Vay bổ sung vốn lưu động
							em.lnr.lnr-chevron-right
			li.navigation-list_item
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/personal/pro-2.png", alt="")
						img.mobile(src="./images/personal/pro-2.png", alt="")
					.contnet
						a(href='') Sản phẩm vay
						em.lnr.lnr-chevron-down
				ul.navigation-sub  
					li
						a(href="") 
							p Vay phát triển kinh tế gia đình
							em.lnr.lnr-chevron-right
					li
						a(href="") 
							p Vay bổ sung vốn lưu động
							em.lnr.lnr-chevron-right
			li.navigation-list_item
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/personal/pro-3.png", alt="")
						img.mobile(src="./images/personal/pro-3.png", alt="")
					.contnet
						a(href='') Sản phẩm thẻ
						em.lnr.lnr-chevron-down
			li.navigation-list_item
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/personal/pro-4.png", alt="")
						img.mobile(src="./images/personal/pro-4.png", alt="")
					.contnet
						a(href='') Ngân hàng điện tử
						em.lnr.lnr-chevron-down
			li.navigation-list_item
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/personal/pro-5.png", alt="")
						img.mobile(src="./images/personal/pro-5.png", alt="")
					.contnet
						a(href='') Bảo hiểm
						em.lnr.lnr-chevron-down
			li.navigation-list_item
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/personal/pro-6.png", alt="")
						img.mobile(src="./images/personal/pro-6.png", alt="")
					.contnet
						a(href='') Sản phẩm dịch vụ
						em.lnr.lnr-chevron-down
			