
.tabs 
    ul.tab-list.d-flex
        li.active(rel="panel-1") Gửi email
        li(rel="panel-2") Đặt lịch hẹn
    include ../contact/form1/index.pug
    include ../contact/form2/index.pug
                            
        

