section.banner 
    .banner-video.desktop
        video#player(playsinline='' poster="./images/about/banner.png")
            source(src='./images/about/hdbank.mp4' type='video/mp4')
    .banner-video.mobile
        video#player(playsinline='' poster="./images/about/banner-mb.png")
            source(src='./images/about/hdbank.mp4' type='video/mp4')
