section.section.design-sec(setBackground="./images/bg-1.png")
	.wrapper-container 
		.sec-title 
			p.small-title For all devices
			h3.big-title Unique design
		.image-center
			.big-image 
				img.lazyload(data-src="./images/display_bd.png", alt="")
			.small-iamge
				img.lazyload(data-src="./images/display_sm.png", alt="")
