section.section.news-detail 
    .container 
        .info-box 
            h1.news-title.title.title_small.title_small-black.text-start Bản HDBank chính thức tiếp nhận nguồn tài trợ đóng góp, ủng hộ cho Quỹ vắcxin Covid-19 HDBank
            .category-info 
                .category-name
                    span Covid-19
                .date-created
                    span 29/11/2021
        .wrapper-content 
            p   (CT) - Ngân hàng TMCP Phát triển TP Hồ Chí Minh (HDBank) vừa được Bộ Tài chính, Kho Bạc Nhà nước chấp thuận là một trong các ngân hàng chính thức tiếp nhận nguồn tài trợ, hỗ trợ, đóng góp của cá nhân, tổ chức, doanh nghiệp trong và ngoài nước cho “Quỹ vắc - xin phòng, chống COVID-19 Việt Nam”.
            
            p(style="text-align: center; margin-top: 30px;")   
                img(src="./images/news/banner-desktop.png" style="border-radius: 8px; width: 100%")
                br
                span(style="color: #6F7279; font-style: italic; font-size: 0.875rem;") Tập Đoàn Sovico và HDBank đóng góp 100 tỉ đồng ủng hộ cho Quỹ vắc-xin phòng, chống COVID-19 Việt Nam.

            p   Tập Đoàn Sovico và HDBank đóng góp 100 tỉ đồng ủng hộ cho Quỹ vắc-xin phòng, chống COVID-19 Việt Nam. Ảnh: CTV
            p   Với thông điệp “Vì một Việt Nam khỏe mạnh”, Quỹ vắc-xin phòng, chống COVID-19 Việt Nam nhằm tập hợp sức mạnh đoàn kết của toàn dân và quyết tâm của Chính phủ trong xác định chiến lược vắc - xin, miễn dịch cộng động, chung tay góp bảo vệ sức khỏe đồng bào và bản thân mỗi người.
            p   Thông tin số tài khoản HDBank tiếp nhận đóng góp, ủng hộ cho Quỹ vắc-xin phòng, chống COVID-19:
            p   Tài khoản nhận ủng hộ trong nước: Tên tài khoản: Quỹ Vắc - xin phòng chống Covid-19; số tài khoản tại HDBank: 686868 (VND, USD, EUR).
            p   Tài khoản nhận ủng hộ nước ngoài: Account name: Fund for Vaccination Prevention of Coronavirus; Disease 2019; Account number: 686868 (VND, USD, EUR); Beneficiary Bank: HOCHIMINH City Development Joint Stock Commercial Bank; Swift code: HDBCVNVX.
            p   Tất cả các giao dịch chuyển tiền, đóng góp ủng hộ cho Quỹ vắc - xin phòng, chống COVID-19 của Chính phủ tại tài khoản nêu trên đều được HDBank miễn phí hoàn toàn.
            p(style="color: #6F7279; font-style: italic; font-size: 0.875rem; text-align: right;") Theo NLD.
            
        .socail-list 
            p Chia sẻ
            ul.d-flex
                li
                    a(href="")
                        img(src="./images/icons/face.png", alt="")
                li
                    a(href="")
                        img(src="./images/icons/instagram.png", alt="")
                li
                    a(href="")
                        img(src="./images/icons/zalo.png", alt="")
                li
                    a(href="")
                        img(src="./images/icons/whatapp.png", alt="")
                li
                    a(href="")
                        img(src="./images/icons/titok.png", alt="")
                li
                    a(href="")
                        img(src="./images/icons/vipper.png", alt="")
                li
                    a(href="")
                        img(src="./images/icons/twitter.png", alt="")
        

