section.section.contact-page
    .container 
        .row 
            .col-12.col-lg-12.col-xl-4.info-container
                ul.info-box 
                    li.item-info
                        .title-info 
                            img.icon(src="./images/contact/Icon/map_pin.png")
                            span Chi nhánh/Phòng Giao dịch HDBank:
                        ul.description-box 
                            li.item-description
                                a.linkToBranchPage(href="") Xem tại đây
                    li.item-info
                        .title-info 
                            img.icon(src="./images/contact/Icon/Time_Circle.png")
                            span Thời gian phục vụ khách hàng
                        ul.description-box 
                            li.item-description
                                p Buổi sáng: 7h30 - 11h30
                            li.item-description
                                p Buổi chiều: 13h - 17h
                            li.item-description
                                p Từ thứ 2 đến thứ 6 hàng tuần

                    li.item-info
                        .title-info 
                            img.icon(src="./images/contact/Icon/Calling.png")
                            span Tổng đài CSKH 1900 6060 (24/7)
                        ul.description-box 
                            li.item-description
                                p Liên hệ từ nước ngoài (+84)028 3936 5555
                    li.item-info
                        .title-info 
                            img.icon(src="./images/contact/Icon/ic_email.png")
                            span Email: 
                                    span.txtemail info@hdbank.com.vn
                include ../../faq/mini-faq/index.pug
            .col-12.col-lg-12.col-xl-8 
                .form-box
                    .tabs
                        include ../../tabs/index.pug
                        include ../form1/index.pug
                        include ../form2/index.pug
        

