#overlay
	opacity: 0
	visibility: hidden
	pointer-events: none
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	z-index: 99
	transition: .3s all ease-in-out
	&.active
		opacity: 1
		visibility: visible
		pointer-events: visible
.overflow
	overflow: hidden
.lcl
	overflow: hidden
	display: -webkit-box
	text-overflow: ellipsis
	-webkit-box-orient: vertical

	&-1
		-webkit-line-clamp: 1

	&-2
		-webkit-line-clamp: 2

	&-3
		-webkit-line-clamp: 3

	&-4
		-webkit-line-clamp: 4
.swiper-button-next,
.swiper-button-prev
	position: absolute
	width: 44px !important
	height: 44px !important
	border-radius: 50%
	border: solid 1px $white
	background-image: unset !important
	opacity: 1 !important
	cursor: pointer !important
	transition: all ease-in-out .3s
	&::before
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		font-family: Linearicons-Free
		font-size: r(30px) !important
		color: $white
	&:focus
		outline: none
.swiper-button-next
	right: -80px !important
	&::before
		content: '\e87a'

.swiper-button-prev
	left: -80px !important
	&::before
		content: '\e879'
@media screen and ( min-width: 1025px )
	.swiper-button-next,
	.swiper-button-prev
		&:hover
			background: $gray
@media screen and ( max-width: 1280px )
	.swiper-button-next
		right: -50px !important
	.swiper-button-prev
		left: -50px !important
.tabs
	.tab-list
		display: flex
		padding-left: 0
	.panel
		display: none
		&.active
			display: block

.productpager
	width: 100%
	.pagination
		justify-content: center
		.page-item
			margin-right: 4px !important
			.page-link
				display: flex
				align-items: center
				justify-content: center
				width: 40px
				height: 40px
				background: #FFFFFF
				border: 1px solid #DDE1EB
				box-sizing: border-box
				border-radius: 8px
				font-size: r(20px)
				color: #6F7279
				&:focus
					box-shadow: none
				@media screen and ( max-width:  )
					width: 32px
					height: 32px
					font-size: 1rem
input#amount,
input#amount-promotion,
input#amount-card
	width: 100px
	border: none
	background: none
	color: $main
	font-weight: 800
	font-size: r(20px)
	line-height: 29px
	&:focus
		outline: none
		box-shadow: none

	@media screen and ( max-width: 1366px )
		margin-bottom: 8px
.container--tabs
	.nav-tabs
		width: 100%
		margin: 0
		padding: 0
		display: flex
		align-items: center
		li
			position: relative
			display: flex
			align-items: center
			&.active
	.tab-content
		float: left
		width: 100%

		.tab-panel
			display: none
			&.active
				display: block

		.active
			display: block
.tag-list
	padding-top: 24px
	margin-bottom: 40px
	.nav-list
		display: flex
		justify-content: center
		ul
			li
				padding: 0 4px
				cursor: pointer
				p
					display: block
					padding: 8px 16px
					background: #FFF9E2
					border-radius: 21px
					color: $black
					margin-bottom: 0
					line-height: 23px
	@media screen and ( max-width: 1199.98px )
		padding-top: 0
		margin: 8px 0
		.nav-list
			justify-content: flex-start
			overflow-x: auto
			margin-bottom: 8px
			ul
				min-width: 200%
				margin-bottom: 8px
				li
					p
						font-size: r(14px)
