section.page-banner
    .swiper-container
        .swiper-wrapper
            -for(i=1; i<4; i++)
                .swiper-slide
                    .slide-inner
                        .slide-inner__img
                            a(href="")
                                img(src="./images/producttion/banner-signup.png", alt="")
    .swiper-pagination
    