.right-box
    .card-tool-box 
        .card-switcher 
            ul.header-switcher.d-flex.align-center 
                li.active(rel="toolpanel-1")
                    | Ước tính khoản vay
                li(rel="toolpanel-2")
                    | Quy đổi tỷ giá
            #toolpanel-1.panel.active
                .from-slide-loan
                    form(action="", method="post") 
                        .form-group 
                            label(for='amount') Số tiền vay
                            input#amount(type='text' readonly='' value="500 Triệu")
                    #slider-range-min
                    .range-slider__label
                        .range-slider__label__min
                            span 50 triệu
                        .range-slider__label__max
                            span 1 tỷ
                    .period-wraper 
                        table 
                            tr 
                                td Kỳ hạn vay 
                                td Trả hàng tháng 
                            tr 
                                td 
                                    .qty-minus
                                        em.material-icons remove
                                    input.form-control(type="text" name="year" placeholder="5" value='5')
                                    span.input-group-addon năm
                                    .qty-plus 
                                        em.material-icons add
                                td 
                                    input.form-control(type='text' disabled='' value='8.601.944')
                                    span.input-suffix đ
                    .btn-login
                        span Tiếp tục
                    .desc 
                        p Ví dụ: Số tiền vay 500 triệu - chu kỳ trả trong 60 tháng - lãi suất vay 7%/năm - Tổng tiền phải trả 602.476.200đ - Tổng lãi phải trả 102.476.200đ.
            #toolpanel-2.panel
                form.calculator(action="") 
                    .form-group.d-flex
                        .input-slect
                            img(src="./images/icons/usd.png", alt="") 
                            select(name="") 
                                option(value="vn") VN
                                option(value="usd" selected) USD
                        .input-value
                            input(type="text" placeholder="Nhập số tiền")
                    .form-group.d-flex
                        .input-slect
                            img(src="./images/icons/vn.png", alt="") 
                            select(name="") 
                                option(value="vn" selected) VN
                                option(value="usd") USD
                        .input-value
                            input(type="text" placeholder="Nhập số tiền")
                .table-box 
                    table 
                        tr 
                            td Đồng tiền 
                            td Mua Vào 
                            td Bán ra
                        tr 
                            td 
                            
                                img(src="./images/icons/usd.png", alt="")
                                | USD
                            td 22,650
                            td 22,850
                        tr 
                            td 
                                img(src="./images/icons/vn.png", alt="")
                                | VND 
                            td --
                            td --
                        tr 
                            td 
                                img(src="./images/icons/canada.png", alt="")
                                | CAD
                            td 17,409
                            td 18,137
                        tr 
                            td 
                                img(src="./images/icons/euro.png", alt="")
                                | EUR
                            td 24,837
                            td 26,207
                        tr 
                            td 
                                img(src="./images/icons/jp.png", alt="")
                                | JPY
                            td 191,71
                            td 203,80
                    .desc 
                        p Cập nhật lúc 13:54 ngày 01/11/2021
        #from-slide.from-slide-advise
            ul.header-advise.d-flex.align-center 
                li 
                    em.lnr.lnr-arrow-left
                li 
                    p Đăng ký nhận tư vấn
            ul.nav-list.d-flex.align-center
                li 
                    p Số tiền 
                    p 500 triệu 
                li 
                    p Kỳ hạn vay 
                    p 5 năm
                li 
                    p Trả mỗi tháng 
                    p 8.601.944
            form.from-slide(action="", method="post") 
                .form-group 
                    img(src="./images/icons/user-gray.png", alt="")
                    input.form-control(type="text" placeholder="Họ và tên")
                .form-group 
                    img(src="./images/icons/phone-gray.png", alt="")
                    input.form-control(type="text" placeholder="Số điện thoại")
                .form-group 
                    img(src="./images/icons/mail.png", alt="")
                    input.form-control(type="text" placeholder="Mã nhân viên tư vấn")
                button.btn.btn-login(type="submit") 
                    p Đăng ký
        .dot 
            span.active 
            span
