section.section.work-sec 
	.wrapper-container 
		.sec-title 
			p.small-title We work with
			h3.big-title Amazing Services
		.list-work.d-flex
			.list-work_item 
				.icons 
					img(src="./images/icons/ALARM.png", alt="")
				.content 
					p.title Photography
					p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
			.list-work_item 
				.icons 
					img(src="./images/icons/LINEGRAPH.png", alt="")
				.content 
					p.title Web Design
					p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
			.list-work_item 
				.icons 
					img(src="./images/icons/COMPUTER.png", alt="")
				.content 
					p.title Creativity
					p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
			.list-work_item 
				.icons 
					img(src="./images/icons/BOOK.png", alt="")
				.content 
					p.title SEO
					p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
			.list-work_item 
				.icons 
					img(src="./images/icons/HOME.png", alt="")
				.content 
					p.title CSS/HTML
					p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
			.list-work_item 
				.icons 
					img(src="./images/icons/IMAGE.png", alt="")
				.content 
					p.title DIGITAL
					p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
