block var

doctype html

html(lang="en")

	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="./css/main.min.css")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(rel='shortcut icon' type='image/png' href='favicon.ico')
		link(rel="stylesheet", href="./css/plugins.min.css")
		link(rel="stylesheet", href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css")
		link(rel="stylesheet", href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")

		title #{title}

	body(class=bodyClass)
		block header
			include ../components/global/header/header.pug
		main
			block main
		block footer
			include ../components/global/footer/footer.pug
		#overlay
		include ../components/chat/chat_test.pug
		script(src="./js/plugins.min.js") 
		script(src="https://code.jquery.com/ui/1.13.0/jquery-ui.js") 
		script(src="./js/main.min.js") 
		script.
			$.ajax({
				url: "http://100.64.1.36:8280/chat/render-boxchat",
				type: "POST",
				async: false,
				success: function (data) {
					$("#content_chat").html(data);
					setTimeout(() => {
						$("#modal-open-box-chat").css("display", "block");
					}, 500);
				},
				error: function (data) {
					console.log(data);
				}
			});
