extends _layout.pug

block var
	- var title = 'About'
	- var bodyClass = 'aboutpage'

block main
	include ../components/breakcrumb/breakcrumb.pug
	include ../components/about/banner/index.pug
	include ../components/about/vision-hdbank/index.pug
	include ../components/about/administration/index.pug
	include ../components/about/infor/index.pug