extends _layout.pug

block var
	- var title = 'Bảo hiểm'
	- var bodyClass = 'product-insurance'

block main
	include ../components/breakcrumb/breakcrumb.pug
	include ../components/product-insurance/banner/index.pug
	include ../components/product-insurance/insurance-1/index.pug
	section.section.tool-card-product.insurance
		.container 
			.product-catelogry 
				include ../components/product-insurance/product-catelog/index.pug
				include ../components/product-insurance/promotion-loan/index.pug
	section.section.atm-location 
		.container
			.row 
				.col-12.col-lg-12.col-xl-8 
					include ../components/product-general/branch/index.pug
				.col-12.col-lg-12.col-xl-4
					include ../components/product-general/FAQ/index.pug