extends _layout.pug

block var
	- var title = 'Ưu Đãi'
	- var bodyClass = 'promotion'

block main
	include ../components/breakcrumb/breakcrumb.pug
	include ../components/promotion/ads-banner/ads-banner.pug
	include ../components/promotion/ads-list/ads-list.pug
	include ../components/promotion/sign-menber/sign-menber.pug
	include ../components/promotion/atm/atm.pug



