extends _layout.pug

block var
	- var title = 'Công cụ/Tiện ích'
	- var bodyClass = 'tool'

block main
	include ../components/breakcrumb/breakcrumb.pug
	include ../components/t&c/banner/index.pug
	include ../components/t&c/content/index.pug


