section.section.client-sec(setBackground="./images/bg-2.png")
	.wrapper-container 
		.sec-title 
			p.small-title Happy Clients
			h3.big-title What people say
		.sec-desc 
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		.people.d-flex 
			.people-item 
				.avatar 
					img.lazyload(data-src="./images/client-1.png", alt="")
				.people-infor 
					p Matthew Dix
					span Graphic Design
					.desc 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			.people-item 
				.avatar 
					img.lazyload(data-src="./images/client-2.png", alt="")
				.people-infor 
					p Nick Karvounis
					span Graphic Design
					.desc 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			.people-item 
				.avatar 
					img.lazyload(data-src="./images/client-3.png", alt="")
				.people-infor 
					p Jaelynn Castillo 
					span Graphic Design
					.desc 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			.people-item 
				.avatar 
					img.lazyload(data-src="./images/client-4.png", alt="")
				.people-infor 
					p Mike Petrucci
					span Graphic Design
					.desc 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.

