section.banner-page-product
    .swiper-container
        .swiper-wrapper
            -for(i=1; i<3; i++)
                .swiper-slide
                    .banner-inner.banner-inner_desktop 
                        img(src="./images/producttion/hero-banner.png", alt="")
                    .banner-inner.banner-inner_mobile 
                        img(src="./images/producttion/hero-banner-mb.png", alt="")
    .swiper-pagination