.product-catelory_list
	h2.title.title_small.title_small-white Danh mục sản phẩm
	.navigation
		ul.navigation-list
			li.navigation-list_item.active
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/producttion/main-product-0.png", alt="")
						img.mobile(src="./images/producttion/main-pro-mb-0.png", alt="")
					.contnet
						a(href='') Vay kinh doanh
						em.lnr.lnr-chevron-down
				ul.navigation-sub.show  
					li
						a(href="") 
							p Vay phát triển kinh tế gia đình
							em.lnr.lnr-chevron-right
					li
						a(href="") 
							p Vay bổ sung vốn lưu động
							em.lnr.lnr-chevron-right
			li.navigation-list_item
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/producttion/main-product-1.png", alt="")
						img.mobile(src="./images/producttion/main-pro-mb-1.png", alt="")
					.contnet
						a(href='') Vay tiêu dùng
						em.lnr.lnr-chevron-down
				ul.navigation-sub  
					li
						a(href="") 
							p Vay phát triển kinh tế gia đình
							em.lnr.lnr-chevron-right
					li
						a(href="") 
							p Vay bổ sung vốn lưu động
							em.lnr.lnr-chevron-right
			li.navigation-list_item
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/producttion/main-product-2.png", alt="")
						img.mobile(src="./images/producttion/main-pro-mb-2.png", alt="")
					.contnet
						a(href='') Vay bằng sổ TK
						em.lnr.lnr-chevron-down
			li.navigation-list_item
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/producttion/main-product-3.png", alt="")
						img.mobile(src="./images/producttion/main-pro-mb-3.png", alt="")
					.contnet
						a(href='') Dịch vụ khác
						em.lnr.lnr-chevron-down
			li.navigation-list_item
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/producttion/main-product-4.png", alt="")
						img.mobile(src="./images/producttion/main-pro-mb-4.png", alt="")
					.contnet
						a(href='') Vay nông nghiệp
						em.lnr.lnr-chevron-down
			li.navigation-list_item
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/producttion/main-product-5.png", alt="")
						img.mobile(src="./images/producttion/main-pro-mb-5.png", alt="")
					.contnet
						a(href='') Vay ô tô
						em.lnr.lnr-chevron-down
			li.navigation-list_item
				.navigation-list_item__title
					.img 
						img.desktop(src="./images/producttion/main-product-6.png", alt="")
						img.mobile(src="./images/producttion/main-pro-mb-6.png", alt="")
					.contnet
						a(href='') Vay bất động sản
						em.lnr.lnr-chevron-down
