.product-catelog
	h2.title.title_small.title_small-white Danh mục sản phẩm
	.side-navigation-wrap
		ul.side-navigation
			li.active
				.accordion-title
					.img 
						img(src="./images/producttion/main-product-0.png", alt="")
					.contnet
						a(href='') Vay kinh doanh
						em.lnr.lnr-chevron-down
				ul.nav-sub.show  
					li
						a(href="") 
							p Vay phát triển kinh tế gia đình
							em.lnr.lnr-chevron-right
					li
						a(href="") 
							p Vay bổ sung vốn lưu động
							em.lnr.lnr-chevron-right
			li
				.accordion-title
					.img 
						img(src="./images/producttion/main-product-1.png", alt="")
					.contnet
						a(href='') Vay tiêu dùng
						em.lnr.lnr-chevron-down
			li
				.accordion-title
					.img 
						img(src="./images/producttion/main-product-2.png", alt="")
					.contnet
						a(href='') Vay bằng sổ TK
						em.lnr.lnr-chevron-down
			li
				.accordion-title
					.img 
						img(src="./images/producttion/main-product-3.png", alt="")
					.contnet
						a(href='') Dịch vụ khác
						em.lnr.lnr-chevron-down
			li
				.accordion-title
					.img 
						img(src="./images/producttion/main-product-4.png", alt="")
					.contnet
						a(href='') Vay nông nghiệp
						em.lnr.lnr-chevron-down
			li
				.accordion-title
					.img 
						img(src="./images/producttion/main-product-5.png", alt="")
					.contnet
						a(href='') Vay ô tô
						em.lnr.lnr-chevron-down
			li
				.accordion-title
					.img 
						img(src="./images/producttion/main-product-6.png", alt="")
					.contnet
						a(href='') Vay bất động sản
						em.lnr.lnr-chevron-down
