.card-detail
    .wrapper-detail
        max-width: 1184px
        width: 100%
        margin: 0 auto
        &_img
            max-width: 346px
            width: 100%
            text-align: center
        &_title
            margin-left: 40px
            h1
                font-weight: bold
                font-size: 32px
                line-height: 48px
            .btn-login
                width: 200px
                height: 56px
                p
                    font-size: 14px
        &_content
            max-width: 524px
            width: 100%
            padding: 24px
            background: #F9FAFC
            border-radius: 20px
            margin-left: 20px
