section.banner.banner-investor
    .banner-desktop
        img(src="./images/investor/banner.png", alt="")
    .banner-mobile
        img(src="./images/investor/banner-mb.png", alt="")
    //- .left-info
    //-     h1.banner-title Câu hỏi thường gặp 
    //-     p.banner-description Tham khảo và tìm đáp án cho các câu hỏi thường gặp mà ngân hàng HDBank đã tổng hợp sẵn cho quý khách!