section.priority-user-banner 
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.hero-image
					a(href="") 
						img.desktop(src="./images/banner/b-1.jpg", alt="")
						img.mobile(src="./images/banner/banner-1.jpg", alt="")
			.swiper-slide
				.hero-image
					a(href="") 
						img.desktop(src="./images/banner/b-2.jpg", alt="")
						img.mobile(src="./images/banner/banner-2.jpg", alt="")
			.swiper-slide
				.hero-image
					a(href="") 
						img.desktop(src="./images/banner/b-3.jpg", alt="")
						img.mobile(src="./images/banner/banner-3.jpg", alt="")
		.swiper-pagination