section.section.counter-sec
	.wrapper-container 
		.conuter-block.d-flex
			.counter-item
				p.counter 42
				p.text Customers
			.counter-item
				p.counter 123
				p.text happy client
			.counter-item
				p.counter 15
				p.text award winner
			.counter-item
				p.counter 99
				p.text cup of coffee
			.counter-item
				p.counter 24
				p.text members
