.card-product-promotion
	h2.title.title_small Ưu đãi sản phẩm thẻ
	.empty-placeholder
		.empty-placeholder_wrapper 
			.empty-placeholder_wrapper__img 
				img(src="./images/empty-placeholder.png", alt="")
			.empty-placeholder_wrapper__content
				p Hiện tại &#60;tên sản phẩm&#62; chưa có ưu đãi dành cho bạn.
				p Bạn có thể xem thêm các ưu đãi khác 
					a(href="")  tại đây.