.right-box 
    h1.title.title_small.title_small_white Chỉ 30 phút có ngay khoản vay
    .right-box_content 
        ul 
            li 
                p 
                    |Bạn đang cần đến một khoản tiền nhưng sổ tiết kiệm của bạn chưa đến hạn?
            li
                p Bạn có tất toán sổ tiết kiệm mà không được hưởng toàn bộ khoản lãi sắp đến hạn?
            li 
                p ->  HDBank sẵn sàng cung cấp cho bạn khoản tiền bạn cần với sản phẩm cho vay cầm cố.
        a.btn.btn-login(href="") 
            p Đăng ký vay ngay