.mobile-popup
	i.fas.fa-times.icon-close
	img.mobile-popup__logo.no-js-logo-popup(src='/asset/images/logo-popup.png' alt='')
	noscript
	.mobile-popup__content
		h5.mobile-popup__content__title HDBank Mobile Banking
		.mobile-popup__content__detail
			.mobile-popup__content__detail__text
				| Giao dịch ngân hàng mọi lúc mọi nơi.
				br
				| Miễn phí tại CH Play
			.mobile-popup__content__detail__download Xem