section.section.service-sec 
	.wrapper-container 
		.sec-title 
			p.small-title Service
			h3.big-title what we do
		.sec-desc 
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		.wrapper-content 
			.column-md-6 
				.service-image 
					img.lazyload(data-src="./images/service.png", alt="")
			.column-md-6
				.service-content 
					ul.side-navigation
						li
							.accordion-title
								img.icon(src="./images/icons/PICTURE.png", alt="")
								span Photography
								img.arrow(src="./images/icons/ARROW_DOWN.png", alt="")
							.side-inner
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						li
							.accordion-title
								img.icon(src="./images/icons/EQUALIZER.png", alt="")
								span creativity
								img.arrow(src="./images/icons/ARROW_DOWN.png", alt="")
							.side-inner
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						li
							.accordion-title
								img.icon(src="./images/icons/BULLSEYE.png", alt="")
								span web design
								img.arrow(src="./images/icons/ARROW_DOWN.png", alt="")
							.side-inner
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
