.pro-personal
    padding-top: 16px
    .wrapper-container
        max-width: 842px
        width: 100%
        margin: 0 auto
        &_content
            p
                text-align: center
                font-size: 20px
                line-height: 29px
            @media screen and ( max-width: 768.98px )
                p
                    font-size: 14px
