.page-banner
    position: relative
    .slide-inner
        width: 100%
        &__img
            position: relative
            +img-ratio(552/1440)
            img
                width: 100%
            .btn-login
                position: absolute
                bottom: 68px
                left: 16%
        &__content
            position: absolute
            width: 100%
            height: 100%
            top: 0
            pointer-events: auto
            background: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 11.34%, rgba(0, 0, 0, 0) 35.88%)
            p
                position: absolute
                bottom: 50px
                font-weight: 800
                font-size: 48px
                color: #FFFFFF
                padding-left: 80px
                @media screen and ( max-width: 768.98px )
                    bottom: 60px
                    font-size: 20px
                @media screen and ( max-width: 575.98px )
                    padding-left: 0
                    text-align: center
                    font-size: 1rem
                    width: 100%
        &_desktop
            @media screen and ( max-width: 768.98px )
                display: none
        &_mobile
            .slide-inner__img
                +img-ratio(380/375)
            .btn-login
                width: 133px
                height: 44px
                bottom: 40px
                padding: 8px 0
                p
                    font-size: r(14px)
                    white-space: nowrap
                    margin-left: 0
                &::after
                    display: none
            @media screen and ( min-width: 769px )
                display: none

    .swiper-pagination
        bottom: 24px
        left: 50%
        transform: translateX(-50%)
        &-bullet
            width: 12px
            height: 12px
            margin-right: 8px
            background: $white
            opacity: 0.5
            backdrop-filter: blur(15px)
            &-active
                background: $main
                opacity: 1
