section.section.administrator
    .container
        h2.title.title_big.title_big-black.text-center Cơ cấu quản trị ngân hàng
        .tabs
            ul.tab-list-component.d-flex
                li.active(rel="panel-1") Hội đồng quản trị
                li(rel="panel-2") Ban điều hành
                li(rel="panel-3") Cơ cấu tổ chức
            #panel-1.panel.active
                .administrator-wrapper
                    -for(i=0; i<8; i++)
                        .administrator-col
                            .administrator-item
                                .administrator-item_img 
                                    img(src="./images/about/Thumbnail-"+i+".png", alt="") 
                                .administrator-item_content 
                                    .administrator-item_content__name
                                        p Bà 
                                            br 
                                            b Lê Thị Băng Tâm
                                    .administrator-item_content__position
                                        p Chủ tịch HĐQT HDBank
                            .item-full-content 
                                .wrapper 
                                    .wrapper-title
                                        .sub-title
                                            h3 Bà Lê Thị Băng Tâm
                                            p Chủ tịch Hội đồng Quản trị
                                        .close 
                                            img(src="./images/icons/close.png", alt="")
                                    .wrapper-content 
                                        .avatar 
                                            img(src="./images/about/Thumbnail-0.png", alt="")
                                        .desc 
                                            p Bà rất thành công trong lĩnh vực quản lý tài chính và ngân sách quốc gia và đặc biệt thành công trong công tác tài chính đối ngoại. Là người đứng đầu HDBank, bà đã có những đóng góp đáng kể trong các thành quả mà HDBank đã đạt được trong thời gian qua cũng như việc hoạch định chiến lược phát triển ngân hàng trong thời gian tới. Bà đã từng là Cục trưởng, Tổng giám đốc kho bạc Nhà nước Trung ương - Bộ Tài chính; Thứ trưởng, Ủy viên Ban cán sự Bộ Tài chính, Chủ tịch HĐQT Tổng công ty Đầu tư và Kinh doanh vốn Nhà nước (SCIC); Bà từng là tư vấn cấp cao cho một số tổ chức tài chính nước ngoài. Hiện tại bà cũng đồng thời đang đảm nhiệm vị trí Chủ tịch HĐQT của Tổng Công ty Sữa Việt Nam (Vinamilk).
                                        .desc
                                            p Bà tham gia vào HDBank từ năm 2010. Bà có đóng góp lớn trong việc quản trị ngân hàng theo chuẩn mực quốc tế, dẫn dắt HDBank tham gia vào các dự án quốc tế: World Bank, ADB; các dự án lớn của Chính phủ, Bộ Tài chính, Ngân hàng Nhà nước...
                                                |Bà từng nhận được nhiều Huân chương của Chủ tịch nước, nhiều bằng khen của Chính Phủ và Bộ trưởng,các danh hiệu về thành tích đối ngoại, xây dựng chính sách, khoa học, phụ nữ...
                                                |Bà tốt nghiệp khóa học Quản lý kinh tế cao cấp tại Liên Xô, Tiến sỹ Kinh tế tại Liên Xô chuyên ngành tài chính tín dụng, Chứng chỉ Tài chính quốc tế tại North University London.

            #panel-2.panel
                .administrator-wrapper
                    -for(i=0; i<8; i++)
                        .administrator-col
                            .administrator-item
                                .administrator-item_img 
                                    img(src="./images/about/Thumbnail-"+i+".png", alt="") 
                                .administrator-item_content 
                                    .administrator-item_content__name
                                        p Bà 
                                            br 
                                            b Lê Thị Băng Tâm
                                    .administrator-item_content__position
                                        p Chủ tịch HĐQT HDBank
                            .item-full-content 
                                .wrapper 
                                    .wrapper-title
                                        .sub-title
                                            h3 Bà Lê Thị Băng Tâm
                                            p Chủ tịch Hội đồng Quản trị
                                        .close 
                                            img(src="./images/icons/close.png", alt="")
                                    .wrapper-content 
                                        .avatar 
                                            img(src="./images/about/Thumbnail-0.png", alt="")
                                        .desc 
                                            p Bà rất thành công trong lĩnh vực quản lý tài chính và ngân sách quốc gia và đặc biệt thành công trong công tác tài chính đối ngoại. Là người đứng đầu HDBank, bà đã có những đóng góp đáng kể trong các thành quả mà HDBank đã đạt được trong thời gian qua cũng như việc hoạch định chiến lược phát triển ngân hàng trong thời gian tới. Bà đã từng là Cục trưởng, Tổng giám đốc kho bạc Nhà nước Trung ương - Bộ Tài chính; Thứ trưởng, Ủy viên Ban cán sự Bộ Tài chính, Chủ tịch HĐQT Tổng công ty Đầu tư và Kinh doanh vốn Nhà nước (SCIC); Bà từng là tư vấn cấp cao cho một số tổ chức tài chính nước ngoài. Hiện tại bà cũng đồng thời đang đảm nhiệm vị trí Chủ tịch HĐQT của Tổng Công ty Sữa Việt Nam (Vinamilk).
                                        .desc
                                            p Bà tham gia vào HDBank từ năm 2010. Bà có đóng góp lớn trong việc quản trị ngân hàng theo chuẩn mực quốc tế, dẫn dắt HDBank tham gia vào các dự án quốc tế: World Bank, ADB; các dự án lớn của Chính phủ, Bộ Tài chính, Ngân hàng Nhà nước...
                                                |Bà từng nhận được nhiều Huân chương của Chủ tịch nước, nhiều bằng khen của Chính Phủ và Bộ trưởng,các danh hiệu về thành tích đối ngoại, xây dựng chính sách, khoa học, phụ nữ...
                                                |Bà tốt nghiệp khóa học Quản lý kinh tế cao cấp tại Liên Xô, Tiến sỹ Kinh tế tại Liên Xô chuyên ngành tài chính tín dụng, Chứng chỉ Tài chính quốc tế tại North University London.

            #panel-3.panel
                img(src="./images/about/cocautochuc.png", alt="") 
                    
