.product-catelog
	h2.title.title_small.title_small-white Danh mục sản phẩm
	.side-navigation-wrap
		ul.side-navigation
			li.active
				.accordion-title
					.img 
						img(src="./images/producttion/bh-1.png", alt="")
					.contnet
						a(href='') Bảo hiểm nhânthọ
						em.lnr.lnr-chevron-down
			li
				.accordion-title
					.img 
						img(src="./images/producttion/bh-2.png", alt="")
					.contnet
						a(href='') Bảo hiểm nhân thọ FWD
						em.lnr.lnr-chevron-down
			li
				.accordion-title
					.img 
						img(src="./images/producttion/bh-3.png", alt="")
					.contnet
						a(href='') Bảo hiểm phi nhân thọ
						em.lnr.lnr-chevron-down
				ul.nav-sub.show  
					li
						a(href="") 
							p Bảo hiểm nhà tư nhân
							em.lnr.lnr-chevron-right
					li
						a(href="") 
							p Bảo hiểm TNDS xe ô tô
							em.lnr.lnr-chevron-right
					li
						a(href="") 
							p Bảo hiểm người vay vốn
							em.lnr.lnr-chevron-right
					li
						a(href="") 
							p Bảo hiểm mọi rủi ro tài sản
							em.lnr.lnr-chevron-right
					li
						a(href="") 
							p Bảo hiểm hỏa hoạn và các rủi ro đặc biệt
							em.lnr.lnr-chevron-right